/data/not_public/
/data/python_init/
/data/country_centroids_az8.csv
/results/
/src/mainCode/explore_obs/not_public/
/src/formatTravelData/rawData/
/src/formatTravelData/formattedData/
/src/formatTravelData/outputs/
/src/syntheticTests/syntheticData/
/src/syntheticTests/outputs/
/notes/
__pycache__/
/.Rproj.user/
/.idea/
/.Rhistory
/*.Rproj
/*.iml